# Application
APP_ENV=local
HTTP_HOST=0.0.0.0
HTTP_PORT=8080

# PostgreSQL
POSTGRES_DSN=postgres://scheduler:scheduler@localhost:5432/scheduler?sslmode=disable

# ITMO schedule adapter
ITMO_ADAPTER_URL=http://127.0.0.1:35601
ITMO_ADAPTER_API_TOKEN=change-me

# Logging
LOG_LEVEL=debug

# NATS
NATS_URL=nats://localhost:4222
NATS_STREAM=SCHEDULER
NATS_CONSUMER=SCHEDULER_SYNC
